:root {
  --primary-color: rgba(248,34,34,0.73);
  --secondary-color: rgba(80, 53, 255, 0.05);
  --text-color: rgba(36, 39, 47, 0.73);
}

* {
  box-sizing: border-box;
  font-family: "Avenir Next", serif;
}

body {
  background: rgb(240, 236, 254);
  height: 100%;
  margin: 0;
  padding-top: 40px;
}


.item--list {
  min-height: 150px;
  padding-left: 5px;
  margin: 0 5px;
  list-style: none;
}

.item--list li {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
}

.item--list-empty {
  margin: 40px auto 110px;
  text-align: center;
  font-weight: 500;
  color: var(--text-color);
}

button:active {
  transform: scale(0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

/*
  class selectors
  ===============
*/

.App {
  display: grid;
  max-width: 320px;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  background: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20);
}

.title {
  color: var(--primary-color);
}

.container {
  display: flex;
  align-items: center;
}

.icon {
  color: var(--text-color);
  margin-left: 5px;
}

.input--field {
  background: var(--secondary-color);
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  max-width: 100%;
  margin: 10px 5px;
  padding: 8px;
  text-indent: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.button--add {
  font-size: 1.3rem;
  border: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  background-color: #59e391;
  color: var(--text-color);
  margin: 20px auto 40px;
  width: fit-content;
  padding: 5px 15px;
  cursor: pointer;
}

.button--add:hover {
  opacity: 0.8;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5px;
  border-bottom: solid 1px rgba(22,22,25,0.15);
}

.item--remove{
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.20);
  cursor: pointer;
}