:root {
  --primary-color: rgba(248,34,34,0.73);
  --secondary-color: #5035ff;
  --text-color: rgba(36, 39, 47, 0.73);
}


.App {
  display: grid;
  max-width: 300px;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  background: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20);
}

.title {
  color: var(--primary-color);
}

.input--field {
  background: rgba(80, 53, 255, 0.05);
  border: solid 2px var(--secondary-color);
  border-radius: 5px;
  max-width: 100%;
  margin: 10px 5px;
  padding: 8px;
  text-indent: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.button--add {
  font-size: 1.3rem;
  border: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  background-color: #59e391;
  color: var(--text-color);
  margin: 20px auto 40px;
  width: fit-content;
  padding: 5px 15px;
}

.button--add:hover {
  opacity: 0.8;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5px;
  border-bottom: solid 1px rgba(22,22,25,0.15);
}

.item--remove{
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.20);
}