* {
  box-sizing: border-box;
  font-family: "Avenir Next", serif;
}

ul {
  padding-left: 30px;
}

li {
  padding: 5px ;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: solid 1px rgba(22,22,25,0.15);
}

li::marker {
  color: rebeccapurple;
  display: flex;
}
